

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    font-size: 1.4vw;
}
main {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans Japanese";
    font-weight: normal;
    /* font-size: 1.9rem; */
}
p {
    padding: 0 5%;
    text-align: left;
}

body{
    background: url(../images/bg.jpg)
}
header{
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar{
    font-size: 1vw;
    height: 55px;
}
.navbar .navbar-brand>a>span{
    color: #50c4f3;
    margin-left: 10px;
}
.navbar .sns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10%;
}
.navbar .sns>div{
    margin: 1%;
}
main{
    padding-top: 55px;
}
section .content-wrap{
    width: 60%;
    margin: auto;
}
.twitter{
    background-color: rgba(255,255,255,0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}
.twitter>div:first-child{
    width: 75%;
    justify-self: flex-start;
}
.twitter>div:last-child{
    justify-self: center;
    /* padding-left: 5%; */
}
.section1 .wrap {
    width: 80%;
    position: relative;
    margin: auto;
    margin-top:  5%;
}
.yellow_left{
    position: absolute;
    top: 2%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 18%;
}
.section1 .profile{
    /* background-color: rgba(157,195,208,0.6); */
    text-align: left;
    position: absolute;
    top: 11%;
    right: 2%;
    width: 65%;
}
.section1 .profile>p:first-child{
    font-size: 5vw;
    text-align: right;
    color: #7fb7c7;
    font-weight: 500;
}
.section1 .vergeliscus_top{
    width: 45%;
    position: relative;
    z-index: 1;
    padding-bottom: 10%;
}
.section1 .vergeliscus_text{
    width: 57%;
    position: absolute;
    top: -2%;
    left: 30%;
    right: 0;
    margin: auto;

}
.section1 .left>img {
    width: 85%;
}
.section1 .right{

    position: relative;
}
.section1 .right h1{
    position: absolute;
    top: 0;
    left: 0;
    
}
.section1 .right h1>img{
    margin-top: 12%;
}
.section1 .right .profile{
    height: 50%;
}
.section1 .profile>p:nth-child(2){
    font-size: 1.4vw;
    font-weight: 400;
}
.section2>div{
    /* position: absolute; */
    top: 12%;
    left: 0;
    right: 0;
    margin: auto;
}
.section2 .title{
    color: #ffffff;
    text-align: center;
    font-size: 4vw;
    margin-top: 8%;
}
.section2 p{
    color: #ffffff;
    width: 60%;
    margin: auto;
    /* font-size: 1.4vw; */
    margin-top: 3%;
    /* text-align: center; */
}
.section2 .btn{
    position: absolute;
    width: 35%;
    top: 62%;
    left: 0;
    right: 0;
    margin: auto;
}
.diagonal {
    position: relative;
    overflow: hidden;
  }
.diagonal:before {
    content: '';
    position: absolute;
    top: 0;
    left: -3%;
    width: 130%;
    height: 75%;
    margin: 3% -10% 0;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    /* z-index: ; */
}
  
.diagonal .diagonal-content {
    box-sizing: boder-box;
    margin: 0 auto;
    /* margin-bottom: 10%; */
    /* padding:  */
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 10;
}

.section4.diagonal:before {
    height: 95%;
}

#section4_sp.diagonal:before {
    height: 95%;
}
.section2 {
    background: linear-gradient(transparent 50%, #e1eef1 50%);
}
.section4 {
    background: linear-gradient(#e1eef1 50%, #1ba6cb 50%);
}
.section4_sp {
    background: linear-gradient(#e1eef1 50%, #1ba6cb 50%);
}
footer {
    background-color: #1ba6cb;
    padding: 2%;
}

.section2:before{
    background-color: #00b0e9;
}
.section2 .diagonal-content{
    margin-bottom: 20%;
    padding-top: 2%;
}

.section4 .diagonal-content{
    padding-bottom: 5%;
}
.section3{
    background-color: #e1eef1;
    text-align: center;
}
.section3 .sp_icon{
    position: relative;
}
.section3 .sp_icon>img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.section3 .step{
    width: 30%;
    text-align: left;
    font-size: 1vw;
}
.section3 .step .cell{
    position: relative;
    /* height: 30%; */
    background-color: #fff;
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
    border-top: solid 1px #000000;
    padding: 1%;
}
.section3 .cell:last-child{
    border-bottom: solid 1px #000000;
}
.section3 .step-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.section3 .step-wrap >div{
    width: 40%;
}
.section3 .step-wrap >div:first-child{
    margin-right: 2%;
}
.section3 .step-wrap >div:last-child{
    margin-left: 2%;
}
.triangle {
	width: 60px;
	height: 60px;
	display: block;
	position: absolute;
	clip: rect(30px auto 60px auto);
}
.triangle:after  {
	content: '';
	position: absolute;
	background-color: transparent;
	top: 8px;
	bottom: 8px;
	left: 8px;
	right: 8px;
    transform:rotate(-45deg);
    border: solid 1px #000000;
}

.section4{
    background-color: #e1eef1;
    color: #000000;
    text-align: center;
}
.section4:before{
    background-color: #c8e2f0;
}
.section4 .title{
    margin-top: 8%;
    margin-bottom: 1%;
}
.section4 p{
    text-align: center;
    color: #000000;
    margin-bottom: 2%;
    font-size: 1.5vw;
    font-weight: bold;
}
.section4 section{
    color: #000000;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 5%;
}
.section4 section{
    background: url(../images/bg.jpg);
}
.section4 section:nth-child(odd){
    justify-content: flex-start;
}
.section4 section:nth-child(even){
    justify-content: flex-end;
}

.section4 section:nth-child(odd)>div:first-child{
    background-color: rgba(200,226,240,0.5);
    width: 50%;
    position: relative;
    line-height: 0;
}
.section4 section:nth-child(odd)>div:nth-child(2){
    background-color: rgba(255,255,255,0.6);
    width: 40%;
    position: relative;
}
.section4 section .dummy{
    background-color: #c8e2f0;
    width: 10%
}

.section4 section:nth-child(even)>div:nth-child(2){
    background-color: rgba(255,255,255,0.3);
    width: 40%;
    position: relative;
}
.section4 section:nth-child(even)>div:last-child{
    background-color: rgba(200,226,240,0.5);
    width: 50%;
    position: relative;
}

.section4 section:nth-child(3)>div:first-child{
    text-align: right;
}
.section4 section .shield{
    width: 45%;
    margin-right: 7%;
}
.Vergeliscus_shield{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 22%;
    margin: auto;
    width: 18%;
}
.section4>div> :last-child img{
    margin-bottom: 5%;
}
.description p{
    font-weight: normal;
    font-size: 1.2vw;
    text-align: left;
    margin: 6% 0;
    /* width: 70%; */
}
.section4 .description .title{
    display: flex;
    justify-content: flex-start;
    font-weight: normal;
    align-items: center;
}
.section4 .description .title>div{
    margin-left: 4%;
    font-size: 3vw;
    white-space: nowrap;
    position: relative;
    z-index: 10
}
.section4 .description .title img{
    margin: 0;
    margin-left: 5%;
    width: 13%;
}
.description2 .vergeliscus_meter{
    width: 70%;
}
.section4 section:nth-child(odd) .image{
    display: flex;
    justify-content:center;
    align-items: center;
}
.section4 section:nth-child(odd) .image>div{
    width: 100%;
    padding-right: 5%;
}
.section4 section:nth-child(even) .image{
    display: flex;
    justify-content:center;
    align-items: center;
}
.section4 section:nth-child(even) .image img{
    margin-left: 5%;
}
.section4 section:nth-child(odd) .image img{
    margin-left: auto;
}
.description3 .vergeliscus_3{
    width: 60%;
}
.description4 .vergeliscus_4{
    width: 55%;
}

.section4 .btn{
    width: 40%;
}
/* 
.description5 .vergeliscus_5{
    width: 50%;
}
.description5-wrap{
    position: relative;
}
.description5 .title{
    position: absolute;
    top: 5%;
    right: -70%;
    margin: 0;
    z-index: 1;
    white-space: nowrap
}
.description5 .image{
    padding-top: 10%;
    padding-bottom: 5%;
}

.description5>div:nth-child(2){
    padding-top: 10%;
} */

.share{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255,255,255,0.6);
    width: 70%;
    margin: auto;
    padding: 1% 2%;;
    
}
.share .share_text{
    width: 60%;
    padding-left: 6%;
}
.sns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
footer p{
    text-align: center;
    margin: 3% 0;
    color: #000000;
}

.step ul{
    list-style-type: decimal;
    padding-left: 8%; 
}
.step p{
    padding:3% 5%;
}

#pageTop{
    position:fixed;
    bottom: 0;
    right: 5%;
    z-index: 1000;
}

.is-countdown {
    border: none;
    background-color: transparent;
}
.banner{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 6vw;
    color: #fff;
}
.time{
    position: relative;
    width: 16%;
}
.time >img{
    width: 100%;
}
.time>div{
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.sep{
    vertical-align: middle;
    color: #000000;
}
.time>div.time_label{
    top: -25%;
    left: 0;
    right: 0;
    font-size: 1.5vw;
    color: #406974;
}
.section5 .title{
    color: #fff;
    text-align: center;
}
.introduction_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
}
.introduction{
    width: 30%;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    width: 70%;
    margin: auto;
    font-size: 1.5vw;
    margin-bottom: 3%;
}
.link >div{
    width: 45%;
    margin: 1%;
}
.link a{
    color: #fff;
}
.title{
    text-align: center;
}

.notice{
    list-style-type: disc;
    color: #fff;
    font-size: 1vw;
    padding: 1% 3%;
    border: #fff solid 1px;
    width: 70%;
    margin: auto;
    margin-bottom: 5%;
}
.notice a{
    color: #fff;
     text-decoration: underline;
}
@media screen and (max-width: 990px){

    body {
        
        font-size: 3vw
    }
    .navbar{
        font-size: 3vw;
    }
    section .content-wrap {
        width: 95%;
        margin: auto;
    }
    .section1 .wrap {
        width: 95%;
        position: relative;
        margin: auto;
        margin-top: 5%;
    }
    .section1 .vergeliscus_text {
        width: 59%;
        position: absolute;
        top: 3%;
        left: 38%;
        right: 0;
        margin: auto;
    }
    .section1 .profile {
        text-align: left;
        position: static;
        width: 100%;
        margin-top: -10%;
    }
    .section1 .profile>p:nth-child(2) {
        font-size: 3vw;
        font-weight: 400;
    }
    .section2 p {
        color: #ffffff;
        width: 100%;
        margin: auto;
        margin-top: 3%;
    }
    .section2 .diagonal-content {
        margin-bottom: 35%;
    }
    .section2 .btn {
        position: absolute;
        width: 65%;
        bottom: 22%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .section3 .step{
        font-size: 3vw;
    }
    .section3 .step-wrap >div {
        width: 90%;
    }
    footer p {
        font-size: 4vw;
    }
    .navbar .sns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }
    .sns>div{
        margin: 2%;
    }
    #section4_sp .description{
        color: #4a565a;
    }
    #section4_sp > div > p {
        color: #4a565a;
        font-size: 4vw;
        font-weight: bold;
        margin-bottom: 3%;
    }
    #section4_sp .description:nth-child(odd)>div{
        background-color: rgba(200,226,240,0.5);
    }
    #section4_sp .description:nth-child(even)>div{
        background-color: rgba(255,255,255,0.5);
    }
    .description p{
        font-weight: normal;
        font-size: 3vw;
        text-align: left;
        margin: 0;
        padding-bottom: 2%;
    }
    .description p:last-child{
        margin-bottom: 0;
    }

    #section4_sp section{
        background: url(../images/bg.jpg);
    }
    #section4_sp:before {
        background-color: #c8e2f0;
    }
    #section4_sp .diagonal-content {
        padding-top: 15%;
        padding-bottom: 45%;
    }
    .description5 .title{
        position: static;
    }

    .title{
        font-size: 6vw;
        padding-top: 2%;
        margin-bottom: 2% !important;
    }
    .section4_sp .btn {
        position: absolute;
        width: 65%;
        bottom: 5%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .section4_sp .description .title{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        margin: auto;
    }
    .section4_sp .description .title img {
        width: 6%;
    }
    .description_img{
        width: 30%;
    }

    #pageTop{
        position:fixed;
        bottom: 0;
        right: 0;
        z-index: 1000;
        width: 15%;
    }
    .yellow_left{
        position: absolute;
        top: 2%;
        bottom: 0;
        left: 0;
        right: 0;
        width: 18%;
    }
    .introduction {
        width: 48%;
    }
    .link{
        font-size: 3vw;
        width: 95%;
    }
    .notice{
        width: 95%;
        font-size: 3vw;
    }
    .notice ul li:first-child{
        margin-bottom: 3%;
    }
}
