

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    font-size: 2vw;
    background-color: #f0f6fd;
    color: #6f7477;
}
.wrap{
    width: 75%;
    margin: auto;
}
h2{
    margin-bottom: 0 !important;
}
.notification ul{
    list-style-type: disc;
    padding-left: 5%;
    font-size: 1.5vw;
}
.notification li:not(:last-child){
    margin-bottom: 2%;
}
.title>div{
    padding: 3%;
}
.title>img{
    margin: 3%;
}
.center{
    text-align: center;
}
.section2 , .section3{
    background-color: #b2e3f5;
}
section:not(:last-child){
    margin-bottom: 4%;
}
.step{
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 4%;
}
.step .step_number{
    font-size: 4vw;
    color: #4d4676;
   border-bottom: 3px solid;
   padding-bottom: 1px;
}
.step>div{
    width: 45%;
    padding: 20px;
    margin: 1%;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.step>div>p,.step>div>a{
    width: 100%;
}
.step>div>p{
    height: 80%;
}
.step img{
    width: 30vw;
}
.step1>div:nth-child(3) > p,.step2>div:nth-child(2) > p{
    align-self: start;
}

.step2>div:nth-child(3){
    width: 92%;
}
.section5 p{
    text-align: center;
    width: 80%;
    margin: auto;
}

.caution{
    border: #e75342 solid 1px;
}
.caution >div{
    border-bottom: #e75342 solid 1px;
    background-color: #e75342;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
.caution >ul{    
    list-style-type: disc;
    color: #e75342;
    font-size: 1.3vw;
    padding: 1% 3%;
}

footer{
    text-align: center;
    margin-bottom: 3%;
}


#pageTop{
    position:fixed;
    bottom: 0;
    right: 5%;
    z-index: 1000;
    width: 10%;
}
.campaign_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    margin-bottom: 5%;
}
.notice{
    list-style-type: disc;
    color: #3273dc;
    font-size: 1.3vw;
    padding: 1% 3%;
    border: #3273dc solid 1px;
}

.notice a{
    color: #3273dc;
    text-decoration: underline;
}
@media screen and (max-width: 990px){
    
    .wrap {
        width: 100%;
        margin: auto;
    }
    .section2 h2.title>div{
        width: 60%;
        margin: auto;
    }
    .campaign_btn {
        width: 80%;
        margin: auto;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .caution{
        width: 90%;
        margin: auto;
    }
    .caution >ul{
        padding-left: 5%;
        font-size: 3vw;
    }

    .notification ul{
        font-size: 3vw;
    }
    .notice{
        font-size: 3vw;
        width: 90%;
        margin: auto;
    }
    .notice ul li:first-child{
        margin-bottom: 3%;
    }


}